*{
    font-family: "Courier New"
}
 
  h1,h3{
    color: #b92B27;
  }

#login{
    background-color: white;
}

#signup{
        background-color: #b92B27;
        color: white;
}
.upvote{
    background-color: green;
    color: white;
}
/* descendent selector */
p a{
  background-color: yellow;
  color: black;
 }
 nav ul li a{
          color: purple;
          
 }
 p + h3{
  text-decoration: underline;
 }
 .upvote + button{
            background-color: cornflowerblue;
            color: brown;
 }
 div > input{
       background-color: darksalmon;
 }
 input[type ="text"]{
  color: darkorchid;
 }

 input[type ="password"]{
            color: green;
 }
 input[type]{
     background-color: white;
 }
 
 button:hover{
  background-color: black;
  color: white;
 }

 h3:hover{
  text-decoration: overline;
 }

 button:active{
  background-color: hotpink;
  color: black;
 }

 p:active {
  font-weight: bold;
  color: green;
 }

 input[type="radio"]:checked + label {
  color: red;
  font-weight: bold;
 }

div:nth-of-type(2n){
  background-color: cornflowerblue;
}

h1::first-letter{
  color: black;
}
h3{
  background-color: blue;

}
h3{
  background-color: yellow;
}
h3{
  background-color: pink !important;
}
