
* {
    font-family: Georgia;
    background-color: rgba(128, 128, 128, 0.408);
    margin: 0;
}

h3 {
    background-color: goldenrod;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    height:100px;
    animation:fontanimation 2s ease-in 0s infinite normal;  
      
}

@keyframes  fontanimation {
    from {
        font-size: 20px;
        color:grey; 
         
        
      }
   
      to {
        font-size: 30px;
        color:white;  
         
        
      }
} 

#nav {
     height:60px;
     width:100%;
     background-color:rgba(169, 169, 169, 0.414);
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
}

.box {
    height:50px;
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    /* text-align: center; */
    background-color: white;
    color: goldenrod;
    margin-top: 10px;  
     
}

.main-container {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}

@media(max-width: 700px) {
    
    .main-container {
         
         flex-direction: column;
         background-color: white;
    }
}

.card {
    height:400px;
    width:300px;   
   border:2px solid black;
    background-color: white;
    margin: 10px 0 0 10px;
    padding: 20px 15px 0px 15px;

}

.page {
    height:200px;
    width:300px;
      
}

.content {
    background-color: white;
    font-size: 16px;
    padding: 10px;

}

button {
    background-color: rgba(171, 164, 164, 0.403);
    width:100%;
    position: relative;
    top: 100px;
    
  }

.nav-bar {
    width:100%;
    background-color: goldenrod;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.nav-bar a {
    color:white;
    text-decoration: none;   
}


